{% extends 'base.html' %}

{% load side_bar_tag %}

{% load static %}

{% block title %}
    {{ author.name }} {{ author.surname }} : : {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row main-content_detail">

        {% get_sidebar %}

        <div class="author-block col-md-8">
            <div class="author-information row">
                <div class="author-photo col-md-4">

                    {% if author.photo %}

                        <img src="{{ author.photo.url }}" alt="photo-{{ author.surname }}-{{ author.name }}">

                    {% else %}

                        <img src="{% static 'general/img.png' %}">

                    {% endif %}

                </div>
                <div class="about-author col-md-8">
                    <h1>{{ author.surname }} {{ author.name }}</h1>
                    <span><b>Имя: </b>{{ author.name }}</span>
                    <span><b>Фамилия: </b>{{ author.surname }}</span>
                    <span><b>Дата рождения: </b>{{ author.birthday|date:'d.n.Y' }}</span>
                    <span><b>Возраст: </b>{{ author.birthday|timesince }} </span>
                </div>
            </div>
            <div class="author-biography">

                {% autoescape off %}

                    {{ author.biography }}

                {% endautoescape %}

            </div>
            <div class="accordion author-posts" id="accordionWorks">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Публикации автора
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                {% for post in publications %}

                                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Связаться с автором</h3>

            {{ form.non_field_errors }}

            <form action="{% url 'sendMsg' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input name="authorPk" value="{{ author.pk }}" style="visibility: hidden">
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </form>

        </div>
    </div>
{% endblock %}