{% extends 'base.html' %}

{% load side_bar_tag %}

{% load pagination_tag %}

{% load static %}

{% block title %}
    Категория : {{ newsPage.title }}-p{{ page_obj.number }} : {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row news_detail category-detail">

        {% get_sidebar %}

        <div class="timeline-block col-md-9">
            <h1>{{ h1 }}</h1>

            {% for item in news %}

                <div class="card text-start">
                    <div class="card-header">
                        <span>Категория: <a href="{{ item.category.get_absolute_url }}"
                                            class="category-top-link">{{ item.category }}</a></span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <div class="row">
                            <div class="col-md-3 timeline-photo">

                                {% if item.photo %}

                                    <img src="{{ item.photo.url }}" alt="photo-{{ item.title }}">

                                {% else %}

                                    <img src="{% static 'general/img.png' %}" alt="photo-{{ item.title }}">

                                {% endif %}

                            </div>
                            <div class="col-md-9">
                                <p class="card-text">

                                    {% autoescape off %}

                                        {{ item.content|truncatewords:50 }}

                                    {% endautoescape %}

                                </p>
                                <a href="{{ item.get_absolute_url }}" class="btn">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {{ item.created_at|timesince }}
                    </div>
                </div>

            {% endfor %}

            {% get_pagination page_obj %}

        </div>

    </div>
{% endblock %}